  .background{
    height: 100vh;
    width: 100%;
    background: url("/assets/images/bienvenida.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }

  .mg-pantalla-centro {
      position:absolute;
      top:40%;
      left:50%;
      transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
  }
  
  .mg-pantalla-abajocentro {
    bottom: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
  }

  img {
    vertical-align: middle;
  }

  .mg-margen-izq {
    margin-left: 16px!important;
  }

  .mg-centrar {
    text-align: center!important;
  }

  .mg-grande {
    font-size: 18px!important;
  }

  .mg-gris {
    color: #fff!important;
    background-color: #424242!important;
  }
  
  .mg-boton {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
  .mg-padding-grande {
    padding: 12px 24px!important;
  }
    