<!DOCTYPE HTML>
<head>
  <title>miGuitarra</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="background">
    <div class="mg-pantalla-centro" style="white-space:nowrap;">
      <span class="mg-centrar mg-padding-grande">
        <img src="../assets/images/logoBienvenida.png" style="width:100%">
      </span>
    </div>
    <div class="mg-pantalla-abajocentro" style="white-space:nowrap;">
      <a href="/verListado" class="btn mg-boton mg-gris mg-padding-grande mg-grande mg-margen-izq">Ver lecciones</a>
      <a href="/realizarLeccion" class="btn mg-boton mg-gris mg-padding-grande mg-grande mg-margen-izq">Agregar
        lección</a>
    </div>
  </div>
</body>